{% extends "layout.html" %}
{%block body%}
<body class="interface" onload="doClear()">
{%endblock%}
{%block content%}
<div align="center">
  <h1><strong>Buildbot Login Page</strong></h1>
</div>
<div align="center">
  <h3>Input username and password to enter the buildbot</h3>
</div>
<div align="center">
<form id="login" name="form1" method="post" action="{{path_to_root}}login/auth" onsubmit= "return onLogin(this)">
  <label>username
  <input id="username"type="text" name="username" />
  </label>
  <p>
    <label>password
    <input id="passwd" type="password" name="passwd" />
    </label>
  </p>
   <table  width="196" border="0" align="center">
    <tr>
      <td width="89" align="right"><label>
        <input name="login" type="submit" value="Login in" align="middle" style="width:70px"/>
      </label></td>
      <td width="97" align="right"><label>
        <input name="cancel" type="reset" value="Cancel" align="right" style="width:70px" />
      </label></td>
    </tr>
  </table>
</form>
</div>
{%endblock%}
